main{

}
main #introduction{
  background-color: linen;
  background-image: linear-gradient(-12deg, powderblue 35%, white 25%);
}
main #introduction .wrap{
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}main #introduction .wrap h2{
  
  font-size: 100px;
  font-weight: 800;
  color: black;
  display: block;
  margin: 0 auto;
  text-shadow: 3px 3px powderblue;
}
main #introduction ul{

  display: flex;
  gap: 20px;
  text-align: center;
  margin: 70px;
}
main #introduction span.control{
width: 200px;
height: 50px;
display: block;
background-color: #0003;
position: relative;
bottom: 10px;
left: calc(50% - 100px);
border-radius: 25px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 12px;
box-sizing: border-box;
}
main #introduction span.control a{
  
  width: 25px;
  height: 25px;
  display: block;
}
main #introduction span.control a:nth-child(1){
  width: 23px;
  height: 2.5px;
  display: block;
  background-color: #555;
  position: absolute;
  top: 25px;
  left: 90px;
  border-radius: 25px;
}
main #introduction span.control a:nth-child(1)::before{
  content: "";
  width: 2.5px;
  height: 15px;
  display: block;
  background-color: #555;
  transform: translateY(-2.25px) translateX(12px) rotate(45deg);
  transform-origin: 100% 100%;
  border-radius: 25px;
}
main #introduction span.control a:nth-child(1)::after{
  content: "";
  width: 2.5px;
  height: 15px;
  display: block;
  background-color: #555;
  transform: translateY(-28.5px) translateX(23px) rotate(-45deg);
  transform-origin: 100% 100%;
  border-radius: 25px;
}
main #introduction ul li{
main #introduction
  width: 32%;
  background-color: #eee;
width: 100%;
}
main #introduction ul li:nth-child(1){
  background: radial-gradient(#869aa950 10%, linen 100%);
  background-image: url;
}
main #introduction ul li:nth-child(2){
  background: radial-gradient(#b1c8d050 10%, #b1c8d0 100%);
}
main #introduction ul li:nth-child(3){
  background: radial-gradient(#d3d3d350 10%, #d3d3d3 100%),url(../img/settings.svg);
  background-position: left,center 27%;
  background-repeat: no-repeat,no-repeat;
  background-size: 100%,41%;
  transition: all 0.5s;
}
main #introduction ul li:nth-child(3):hover{
  background-size:100%,19%;
}
main #introduction ul li:nth-child(4){
  background: radial-gradient(#c5bea450 10%, #dabda5b3 100%);
}
main #introduction ul li a{
  display: block;
  position: relative;
  font-size: 22px;
  height: 250px;
  box-sizing: border-box;
  padding-top: 170px;
  transition: all 0.5s;
}
main #introduction ul li a:hover{
  background-color: rgba(0,0,23,0.4);
  padding-top: 80px;
  color:#fff;
  background-size: 20% !important;
}
main #introduction ul li:nth-child(1) a{
  
  background-image: url(../img/stream.svg);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: 36%;
  opacity: 70%;
}
main #introduction ul li:nth-child(2) a::after{
  content: "";
  background-image: url(../img/cloud.svg);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: 100%;
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  top: 50px;
  left: calc(50% - 50px);
  opacity: 0.6;
  transition: all 0.5s;
}
main #introduction ul li:nth-child(2) a:hover::after{
  background-size: 48%;
}
main #introduction ul li:nth-child(4) a::after{
  content: "";
  background-image: url(../img/podcasts.svg);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: contain;
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  top: 50px;
  left: calc(50% - 50px);
  opacity: 0.6;
}
main #introduction ul li a::before{
    content:"";
    background-color: grey;
    width: 24px;
    height: 3px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    transition: all 0.5s;
  }
main #introduction ul li a:hover::before{
  transform: translateY(40px);
  background-color:#fff;
}
main #introduction ul li a h3{
  position:relative;
  z-index: 1;
  font-size: 20px;
  font-weight: 600;
  color: #666;
}
main #introduction ul li a p{
  
}
main #introduction ul li a:hover p{
  color: #fff;
  display: block;
  margin-top: 30px;
}
/* 사회 공헌 */

#society{

  background-image: linear-gradient(13deg,linen 35%,white 35%);
}
#society .wrap{
  height: 1100px;
  /*! padding: 0 70px; */
}
#society h2{
  font-size: 100px;
  font-weight: 900;
  width: fit-content;
  color: black;
  text-shadow: 3px 3px powderblue;
  padding-top: 200px;
}
#society h2+p{

  /*! float: left; */
  line-height: 2;
  color: #555;
  font-size: 33px;
  font-weight: 900;
  width: fit-content;
  position: relative;
  top: 325px;
  text-shadow: 3px 3px powderblue;
}
#society ul{

  /*! float: right; */
  /*! margin-top: 45%; */
  /*! position: relative; */
  /*! top: -100px; */
  /*! right: 20px; */
  /*! position: relative; */
  /*! top: -30px; */
  /*! transform: translateY(-30px); */
  width: 100%;
  /*! transform: translateY(60%); */
}
#society ul li{

  width: 60%;
  float: right;
}
#society ul li a{

}
#society ul li:nth-child(1) a{
  
}
#society ul li:nth-child(1) a::before{
  content: "";
  background-image: url(../img/s1.jpg);
  width: 100%;
  height: 420px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 25px;
  border-radius: 100px 0;
}
#society ul li a h3{

  width: 76%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 10px;
  font-size: 20px;
}
#society ul li a p{

  font-size: 17px;
  line-height: 2;
}
#society a.more{
  
  position: relative;
  font-size: 20px;
  left: 1140px;
  top: 443px;
  letter-spacing: 5px;
  color: #6efae7;
}#society a.more:hover{
  
  color: orange;
}
#society a.more::before{
  content: "▼";
  font-size: 20px;
  font-weight: 500;
  color: #6efae7;
}
#society a.more:hover::before{
  color:orange;
}
/* 그룹사 소식 */
#news{

  padding-top: 40px;
  padding-bottom: 200px;
  background-image: linear-gradient(-40deg, powderblue 35%, white 35%);
}
#news .wrap{
  
  width: 1100px;
}
#news h2{
  
  font-size: 98px;
  margin-bottom: 150px;
  font-weight: 900;
  text-shadow: 3px 3px powderblue;
  margin-top: 250px;
  letter-spacing: 15px;
}
#news ul{
}
#news ul li{

}
#news ul li:nth-child(1){
  margin-bottom: 40px;
}
#news ul li a{
  padding-left: 53%;
  display: block;
  position: relative;
}
#news ul li:not(:nth-child(1)) a{
  padding-left: 0;
  margin-left: 53%
}
#news ul li a:hover>*{
  
  background-color: linen;
}
#news ul li:not(:nth-child(1)) a>*{
/*  1번 자식이 아닌 li들  */
  font:15px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 0;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 30px;
  color: #666;
}
#news ul li:nth-child(1) a::before{
  content: "";
  background-image: url(../img/news.jpg);
  width: 50%;
  height: 380px;
  display: block;
  background-size: cover;
  position: absolute;
  left: 0px;
  border-radius: 0 100px;
}
#news ul li:nth-child(1) a::after{
  content: "더보기";
  width: 70px;
  height: 26px;
  display: block;
  background-color: #a8a6a6;
  color: linen;
  border-radius: 20px;
  position: relative;
  left: 450px;
  top: 5px;
  text-align: center;
  line-height: 1.5;
}
#news ul li:nth-child(1) a:hover::after{
  background-color: linen;
  color: black;
}
#news ul li a h3{
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 15px;
  font-weight: bold;
}
#news ul li a p{
  line-height: 1.4;
}
#news ul li:nth-child(1) a p{
  height: 67.2px;
  overflow: hidden;
  color: #666;
}
